{% extends 'base.html' %}
{% block title %}Password Update{% endblock %}
{% block content %}
    <form method="POST">
        <h2 class="subtitle is-2 is-spaced">Password Reset Page</h2>
        <p>
            Forgot your password? Please enter the email address you used to register with us, and we will send
            you a link to reset your password.
        </p>
        {% csrf_token %}
        <div class="field">
            <label class="label">Email:</label>
            {{ form.email }}
        </div>
        <button class="button is-info">Send Email</button>
    </form>
{% endblock %}
