{% extends 'base.html' %}

{% block title %}Settings{% endblock %}

{% block content %}

    <h1 class="title is-1 is-spaced">Edit Settings...</h1>

    <form method="POST">
        {% csrf_token %}

        <div class="field">
            <label class="label">Username</label>
            <div class="control has-icons-left has-icons-right">
                {{ form.username }}
            </div>
        </div>

        <div class="field">
            <label class="label">Firstname</label>
            <div class="control has-icons-left has-icons-right">
                {{ form.first_name }}
            </div>
        </div>

        <div class="field">
            <label class="label">Lastname</label>
            <div class="control has-icons-left has-icons-right">
                {{ form.last_name }}
            </div>
        </div>

        <div class="field">
            <label class="label">Email</label>
            <div class="control has-icons-left has-icons-right">
                {{ form.email }}
            </div>
        </div>

        <button class="button is-primary">Update Settings</button>
    </form>


{% endblock %}
