{% extends 'base.html' %}

{% block title %}Settings{% endblock %}

{% block content %}
    <form method="POST">
        <h2 class="subtitle is-2 is-spaced">Edit Settings...</h2>
        {% csrf_token %}

        <div class="field">
            <label class="label">Username</label>
            <div class="control has-icons-left has-icons-right">
                {{ form.username }}
            </div>
        </div>

        <div class="field">
            <label class="label">Firstname</label>
            <div class="control has-icons-left has-icons-right">
                {{ form.first_name }}
            </div>
        </div>

        <div class="field">
            <label class="label">Lastname</label>
            <div class="control has-icons-left has-icons-right">
                {{ form.last_name }}
            </div>
        </div>

        <div class="field">
            <label class="label">Email</label>
            <div class="control has-icons-left has-icons-right">
                {{ form.email }}
            </div>
        </div>

        <div class="field">
            <label class="label">Enter Old Password</label>
            <div class="control has-icons-left has-icons-right">
                {{ form.old_password }}
            </div>
        </div>

        <div class="field">
            <label class="label">New Password</label>
            <div class="control has-icons-left has-icons-right">
                {{ form.new_password1 }}
            </div>
        </div>

        <div class="field">
            <label class="label">Retype Password</label>
            <div class="control has-icons-left has-icons-right">
                {{ form.new_password2 }}
            </div>
        </div>



        <button class="button is-primary">Update Settings</button>
    </form>
{% endblock %}
