{% extends 'base.html' %}

{% block title %}Login{% endblock %}

{% block content %}

    <div class="column">
        <div class="columns is-two-thirds">
            <form method="POST">
                <h2 class="subtitle is-2 is-spaced">Login...</h2>
                {% csrf_token %}

                <div class="field">
                    <label class="label">Username</label>
                    <div class="control has-icons-left has-icons-right">
                        {{ form.username }}
                    </div>
                </div>

                <div class="field">
                    <label class="label">Password</label>
                    <div class="control has-icons-left has-icons-right">
                        {{ form.password }}
                    </div>
                </div>

                <button class="button is-primary">Signin</button>
            </form>
        </div>
    </div>
{% endblock %}
