{% extends 'base.html' %}

{% block title %}Login{% endblock %}

{% block content %}

    <h1 class="title is-1 is-spaced">Login...</h1>


    <form method="POST">
        {% csrf_token %}

        <div class="field">
            <label class="label">Username</label>
            <div class="control has-icons-left has-icons-right">
                {{ form.username }}
            </div>
        </div>

        <div class="field">
            <label class="label">Password</label>
            <div class="control has-icons-left has-icons-right">
                {{ form.password }}
            </div>
        </div>

        <button class="btn btn-primary">Signin</button>
    </form>

{% endblock %}
