{% extends 'base.html' %}

{% block title %}Register...{% endblock %}

{% block content %}

    <div class="columns">
        <div class="column is-one-third">
            <form method="POST">
                <h2 class="subtitle is-2 is-spaced">Register...</h2>
                {% csrf_token %}

                <div class="field">
                    <label class="label">Username</label>
                    <div class="control has-icons-left has-icons-right">
                        {{ form.username }}
                        <span class="icon is-small is-left">
                            <i class="fas fa-user"></i>
                        </span>
                    </div>
                </div>

                <div class="field">
                    <label class="label">Firstname</label>
                    <div class="control has-icons-left has-icons-right">
                        {{ form.first_name }}
                        <span class="icon is-small is-left">
                            <i class="fa-solid fa-signature"></i>
                        </span>
                    </div>
                </div>

                <div class="field">
                    <label class="label">Lastname</label>
                    <div class="control has-icons-left has-icons-right">
                        {{ form.last_name }}
                        <span class="icon is-small is-left">
                            <i class="fa-solid fa-signature"></i>
                        </span>
                    </div>
                </div>

                <div class="field">
                    <label class="label">Email</label>
                    <div class="control has-icons-left has-icons-right">
                        {{ form.email }}
                        <span class="icon is-small is-left">
                            <i class="fa-solid fa-envelope"></i>
                        </span>
                    </div>
                </div>

                <div class="field">
                    <label class="label">Password</label>
                    <div class="control has-icons-left has-icons-right">
                        {{ form.password1 }}
                    <span class="icon is-small is-left">
                        <i class="fa-solid fa-lock"></i>
                    </span>
                    </div>
                </div>

                <div class="field">
                    <label class="label">Confirm Password</label>
                    <div class="control has-icons-left has-icons-right">
                        {{ form.password2 }}
                        <span class="icon is-small is-left">
                            <i class="fa-solid fa-lock"></i>
                        </span>
                    </div>
                </div>
                <button class="button is-info is-outlined is-responsive is-rounded">Register Account</button>
            </form>
        </div>
    </div>

{% endblock %}