{% extends 'base.html' %}
{% load static %}

{% load cloudinary %}

{% block content %}

    <div class="column">
        <div class="column">
            <h2 class="subtitle is-2 is-spaced">User Profile...</h2>
            <div class="card is-center">
                {#                <div class="card-image">#}
                {#                    <figure class="image is-fullwidth">#}
                {#                        <img src="{{ page_user.profile_image.url }}" alt="Placeholder image">#}
                {#                    </figure>#}
                {#                </div>#}
                <div class="card-content">
                    <div class="media">
                        <div class="media-left">
                            <figure class="image is-48x48">
                                {% if page_user.profile_image.url %}
                                    <img src="{{ page_user.profile_image.url }}" alt="Avatar">
                                {% else %}
                                    {% cloudinary "mr_business_xiyl4l.png" %}
                                {% endif %}
                            </figure>
                        </div>
                        <div class="media-content">
                            <p class="title is-4">{{ page_user.user }}</p>
                        </div>
                    </div>

                    <div class="content">
                        {{ page_user.bio|safe }} <a href="{{ page_user.linkedin }}">@LinkedIn</a>.

                    </div>
                    <footer class="card-footer">
                        <p class="card-footer-item">
                          <span>
                            View on <a href="{{ page_user.github }}">Github</a>
                          </span>
                        </p>
                        <p class="card-footer-item">
                          <span>
                            Share on <a href="{{ page_user.instagram }}">Instagram</a>
                          </span>
                        </p>
                    </footer>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
