{% extends 'base.html' %}

{% block title %}Create A New Blog Category{% endblock %}

{% block content %}
    <div class="columns">
        <div class="column is-two-thirds">
            <form method="POST">
                <h2 class="title is-2 is-spaced">Add Category...</h2>
                {% csrf_token %}
                <div class="field">
                    <div class="control">
                        <label class="label">Add Category</label>
                        {{ form.name }}
                    </div>
                </div>

                <button class="button is-black is-outlined is-responsive is-rounded">Submit</button>
            </form>

        </div>
    </div>
{% endblock %}
