{% extends 'base.html' %}
{% load static %}
{% block title %}Create A New Blog Post{% endblock %}

{% block content %}
    <div class="columns">
        <div class="column is-two-thirds">
            <form method="POST" enctype="multipart/form-data">
                <h2 class="subtitle is-2 is-spaced">Add Post...</h2>
                {% csrf_token %}

                <div class="field">
                    <label class="label">Title</label>
                    <div class="control">
                        {{ form.title }}
                    </div>
                </div>

                <div class="field">
                    <label class="label">Subtitle</label>
                    <div class="control">
                        {{ form.title_tag }}
                    </div>
                </div>

                <div class="field">
                    <label class="label">Category</label>
                    <div class="control">
                        <div class="select">
                            {{ form.category }}
                        </div>
                    </div>
                </div>

                <div class="file">
                    <label class="file-label">
                        {{ form.header_image }}
                        <span class="file-cta">
                            <span class="file-label">
                                Upload your image...
                            </span>
                        </span>
                    </label>
                </div>

                <div class="field">
                    <label class="label">Post</label>
                    <div class="control">
                        {{ form.body }}
                    </div>
                </div>
                <button class="button is-primary">Submit</button>
            </form>
        </div>
    </div>
{% endblock %}
