{% extends 'base.html' %}

{% block title %}Comment On a Blog Post{% endblock %}

{% block content %}
    <div class="columns">
        <div class="column is-two-thirds">
            <form method="POST">
                <h2 class="title is-2">Add Comment...</h2>
                {% csrf_token %}

                <div class="field">
                    <label class="label">Comment</label>
                    <div class="control">{{ form.body }}</div>
                </div>

                <button class="button is-primary">Add Comment</button>
            </form>

        </div>
    </div>
{% endblock %}
