{% extends 'base.html' %}

{% block title %}Create A New Blog Category{% endblock %}

{% block content %}

    {% if user.is_authenticated %}

        <h2 class="title is-2">Add Category...</h2>

        <br/>
        <br/>

        <div class="field">
            <form method="POST">
                {% csrf_token %}
{#                {{ form.as_p }}#}
                <div class="control">
                    <label class="label">Add Category</label>
                    <input class="input" type="text" id="id_name" name="name" required>
                    <span class="icon is-small is-left">
                        <i class="fas fa-user"></i>
                    </span>
                </div>

                <button class="button is-link">Submit</button>
            </form>
        </div>

    {% else %}

        <div class="">
            <p>Please register and/or login, so you can create categories.</p>
        </div>

    {% endif %}

{% endblock %}
