{% extends 'base.html' %}

{% block title %}{{ post.title_tag }}{% endblock %}

{% block content %}

<h1>{{ post.title }}</h1>
<small>
	By:
	   {{ post.author.first_name }}
	   {{ post.author.last_name }}
	   {{ post.publication_date }}
	   {{ post.publication_time }}
</small>
<br/>
<hr>
<br/>
<p>
	{{ post.body|safe }}
</p>

<br/>
{% if user.is_authenticated %}
	<a href="{% url 'update-post' post.pk %}" class="btn btn-primary">EDIT</a>
	<a href="{% url 'delete-post' post.pk %}"><button class="btn btn-warning">DELETE</button></a>
{% endif %}
<a href="{% url 'home' %} " class="btn btn-secondary">BACK</a>

<br />
<br />
<br />

{% endblock %}
