{% extends 'base.html' %}

{% block title %}{{ post.title_tag }}{% endblock %}

{% block content %}

    <h1>{{ post.title }}</h1>
    <small>
        By:
           {{ post.author.first_name }}
           {{ post.author.last_name }}
           {{ post.publication_date }}
           {{ post.publication_time }}
    </small>
    <br/>
    <hr>
    <br/>
    <p>
        {{ post.body|safe }}
    </p>

    <br/>
{% if user.is_authenticated %}
{% if user.id == post.author.id %}
        <a href="{% url 'update-post' post.pk %}" class="btn btn-primary">
            EDIT
        </a>
        <a href="{% url 'delete-post' post.pk %}" class="btn btn-warning">
            DELETE
        </a>
{% endif %}
{% endif %}
<a href="{% url 'home' %} " class="btn btn-secondary">BACK</a>

<br/>
<br/>
<br/>
<hr>
{% if user.is_authenticated %}
<form action="{% url 'like-post' post.pk %}" method="POST">
    {% csrf_token %}

    {% if liked %}
        <button type="submit" name="post_id" value="{{ post.id }}"
                class="btn btn-secondary btn-sm">
            UNLIKE
        </button>
    {% else %}
        <button type="submit" name="post_id" value="{{ post.id }}"
                class="btn btn-secondary btn-sm">
            LIKE
        </button>
    {% endif %}
{% endif %}
        - {{ total_likes }} | Likes
</form>

{% endblock %}
