<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lobster&family=Raleway:wght@300&family=Roboto:wght@500&display=swap"
          rel="stylesheet">
    <link href="../../static/JonsBlog/css/stylesheet.css" rel="stylesheet">
    <!-- temp fix until I can figure out how to get static files to load for another directory -->
    <link href="../../../static/JonsBlog/css/stylesheet.css" rel="stylesheet">
    <title>{% block title %}EVERYDAY_JON{% endblock %}</title>
</head>
<body>
<nav class="navbar has-background-success-light" role="navigation" aria-label="main navigation">
    <div class="navbar-brand">
        <a class="navbar-item" href="{% url 'home' %}">EVERYDAY_CODER</a>

        <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="navbarBurger">
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
        </a>
    </div>

    <div class="navbar-menu" id="navbarMenu">

        {% if user.id %}

            <div class="navbar-start">
            <a class="navbar-item" href="{% url 'add-post' %}">Add Post</a>
            <a class="navbar-item" href="{% url 'add-category' %}">Add Category</a>
            <div class="navbar-item has-dropdown is-hoverable">

                {% if user.profile.id %}

                    <a class="navbar-link is-arrowless">{{ user.first_name }}</a>
                    <div class="navbar-dropdown is-boxed">
                    <a class="navbar-item" href="{% url 'show_profile' user.profile.id %}">Show Profile</a>
                    <a class="navbar-item" href="{% url 'edit_profile' user.profile.id %}">Edit Profile</a>

                {% else %}
                    <a class="navbar-link is-arrowless">Profile</a>
                    <div class="navbar-dropdown is-boxed">
                    <a class="navbar-item" href="{% url 'create_profile' %}">Create Profile</a>

                {% endif %}

                <a class="navbar-item" href="{% url 'edit_settings' %}">Edit Settings</a>
                <hr class="navbar-divider">
                <a class="navbar-item" href="{% url 'logout' %}">Logout</a>
                </div>
                </div>
            </div>

        {% else %}

            <div class="navbar-end">
                <div class="navbar-item">
                    <div class="buttons">
                        <a class="button is-white" href="{% url 'register' %}">Register</a>
                        <a class="button is-primary" href="{% url 'login' %}">Login</a>
                    </div>
                </div>
            </div>

        {% endif %}
        </div>
    </div>
</nav>

<br/>
<section class="section">
    <div class="container">

        {% block content %}

        {% endblock %}

    </div>
</section>
<footer class="footer">
    <div class="content has-text-centered">
        <p>
            <strong>Everyday_Coder</strong> by <a href="#">Jonathan Eastin</a>. The front end is built
            with <a href="https://bulma.io">Bulma</a>. Backend is made with Python <a
                href="https://www.djangoproject.com">Django</a>.
        </p>
    </div>
</footer>
</body>
</html>