<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lobster&family=Raleway:wght@300&family=Roboto:wght@500&display=swap"
          rel="stylesheet">
    <link href="../../checkstatic/static/JonsBlog/css/stylesheet.css" rel="stylesheet">
    <!-- temp fix until I can figure out how to get static files to load for another directory -->
    <link href="../../../static/JonsBlog/css/stylesheet.css" rel="stylesheet">
    <script src="https://kit.fontawesome.com/2453f003ac.js" crossorigin="anonymous"></script>
    <title>{% block title %}EVERYDAY_JON{% endblock %}</title>
</head>
<body>
<div class="container mt-6">
    <div class="columns">
        <div class="column">
            <aside class="menu">
                <p class="menu-label title is-1">
                    Meower
                </p>
                <ul class="menu-list">
                    <li>
                        <a href="{% url 'home' %}"><i class="fa-solid fa-cat fa-3x"></i></a>
                    </li>
                </ul>

                <p class="menu-label">
                    Add Content
                </p>
                <ul class="menu-list">
                    <li>
                        <a href="{% url 'add-post' %}">Add Post</a>
                    </li>
                    <li>
                        <a href="{% url 'add-category' %}">Add Category</a>
                    </li>
                </ul>
                <p class="menu-label">
                    User Upkeep
                </p>
                {% if user.profile.id %}
                    <ul class="menu-list">
                        <li>
                            <p>{{ user.first_name }} Profile</p>
                            <ul>
                                <li>
                                    <a href="{% url 'show_profile' user.profile.id %}">Show Profile</a>
                                </li>
                                <li>
                                    <a href="{% url 'edit_profile' user.profile.id %}">Edit Profile</a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                {% else %}
                    <ul class="menu-list">
                        <li>
                            <ul>
                                <li>
                                    <a href="{% url 'create_profile' %}">Create Profile</a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                {% endif %}
                {% if user.id %}
                    <p class="menu-label">
                        Edit Account / Logout
                    </p>
                    <ul class="menu-list">
                        <li>
                            <a href="{% url 'edit_settings' %}">Edit Settings</a>
                        </li>
                        <li>
                            <a href="{% url 'logout' %}">Logout</a>
                        </li>
                    </ul>
                {% else %}
                    <p class="menu-label">
                        Register Account / Login
                    </p>
                    <ul class="menu-list">
                        <li>
                            <a href="{% url 'register' %}">Register Account</a>
                        </li>
                        <li>
                            <a href="{% url 'login' %}">Login</a>
                        </li>
                    </ul>
                {% endif %}
            </aside>
        </div>
        <div class="column is-three-quarters">
            <div class="container">

                {% block content %}

                {% endblock %}

            </div>
        </div>
    </div>
</div>

<footer class="footer mt-auto">
    <div class="content has-text-centered">
        <p>
            <strong>MEOWER</strong> by <a href="#">Jonathan Eastin</a>. The front end is built
            with <a href="https://bulma.io">Bulma</a>. Backend is made with Python <a
                href="https://www.djangoproject.com">Django</a>.
        </p>
    </div>
</footer>
</body>
</html>