{% extends 'base.html' %}

{% block content %}

    <h1>Category: {{ cats }}</h1>

    <ul>
        {% for post in category_posts %}

            <div class="card">
                <div class="card-content">
                    <div class="media">

                        <div class="media-content">
                            <p class="title is-4">by > {{ post.author.first_name }} {{ post.author.last_name }}</p>
                            <p class="subtitle is-5">{{ post.title_tag }}</p>
                        </div>
                    </div>

                    <div class="content">
                        <p class="subtitle is-6">in > {{ post.category }}</p>
                        <a href="{% url 'article-detail' post.pk %}">#link</a> <a href="">#{{ post.category }}</a>
                        <br>
                        <time datetime="2016-1-1">{{ post.publication_date }} {{ post.publication_time }}</time>
                    </div>
                </div>
            </div>

        {% endfor %}
    </ul>

{% endblock %}
