{% extends 'base.html' %}

{% block content %}
    <ul>
        <h2 class="subtitle is-2 is-spaced">Category: {{ cats }}</h2>
        {% for post in category_posts %}
            <div class="card">
                <div class="card-header">
                    <p class="card-header-title">{{ post.title }}</p>
                    <p class="card-header-author mt-3 mr-3">by {{ post.author.username }}</p>
                </div>

                <div class="card-content">
                    <div class="content">
                        <p class="subtitle is-6 is-spaced">{{ post.title_tag }}</p>
                        <time datetime="2016-1-1">{{ post.publication_date }} {{ post.publication_time }}</time>
                    </div>
                </div>

                <footer class="card-footer">
                    <p class="card-footer-item">
                        <span>
                        View <a href="{% url 'article-detail' post.pk %}">here</a>
                        </span>
                    </p>
                    <p class="card-footer-item">{{ post.category }}</p>
                </footer>
            </div>
        {% endfor %}
    </ul>
{% endblock %}
