{% extends 'base.html' %}

{% block title %}Delete A Blog Post{% endblock %}

{% block content %}

    {% if user.is_authenticated %}
        {% if user.id == post.author.id %}
            <h1>Delete Post...</h1>

            <br/>
            <br/>

            <h3>Delete: {{ post.title }}</h3>

            <div class="form-group">
                <form method="POST">
                    {% csrf_token %}
                    <strong>This action is irreversible!</strong>
                    <br/>
                    <button class="btn btn-warning">DELETE</button>
                </form>
            </div>
        {% else %}
            <div class="">
                <p>You are not permitted to delete this post.</p>
            </div>
        {% endif %}
    {% else %}
       {% include 'authorization.html' %}
    {% endif %}

{% endblock %}
