{% extends 'base.html' %}

{% block title %}Delete A Blog Post{% endblock %}

{% block content %}

    {% if user.is_staff %}
        {% if user.id == post.author.id %}
            <h1 class="title is-1 is-spaced">Delete Post...</h1>


            <form method="POST">
                {% csrf_token %}
                <div class="card post-card">
                    <div class="card-header">
                        <div class="card-header-title">Delete: {{ post.title }}</div>
                    </div>
                    <div class="card-content">
                        <div class="tags-wrapper">
                            <div class="tags"></div>
                        </div>
                        <p>This action is irreversible!</p>
                    </div>
                    <div class="card-footer">
                        <div class="card-footer-item">
                            <button class="button is-danger">Delete</button>
                        </div>
                    </div>
                </div>

            </form>
            
        {% endif %}
    {% else %}
        {% include 'authorization.html' %}
    {% endif %}

{% endblock %}
