{% extends 'base.html' %}

{% block title %}Delete A Blog Post{% endblock %}

{% block content %}
    <form method="POST">
        <h2 class="subtitle is-2 is-spaced">Delete Post...</h2>
        {% csrf_token %}
        <div class="card post-card">
            <div class="card-header">
                <div class="card-header-title">Delete: {{ post.title }}</div>
            </div>
            <div class="card-content">
                <div class="tags-wrapper">
                    <div class="tags"></div>
                </div>
                <p>This action is irreversible!</p>
            </div>
            <div class="card-footer">
                <div class="card-footer-item">
                    <button class="button is-danger">Delete</button>
                </div>
            </div>
        </div>
    </form>
{% endblock %}
